// # Tools: CSS3 Transforms
// -----------------------------------------------------------------------------

@mixin transform($transform) {
	-webkit-transform: $transform;
	   -moz-transform: $transform;
	    -ms-transform: $transform;
	     -o-transform: $transform;
	        transform: $transform;
}

@mixin translate($x, $y) {
	@include transform(translate($x, $y));
}

@mixin translateX($x) {
	@include transform(translateX($x));
}

@mixin translateY($y) {
	@include transform(translateY($y));
}

@mixin rotate($deg) {
	@include transform(rotate($deg));
}

@mixin scale($sx, $sy) {
	@include transform(scale($sx, $sy));
}

@mixin translate3d($x, $y, $z) {
	@include transform(translate3d($x, $y, $z));
}

@mixin scale3d($sx, $sy, $sz) {
	@include transform(scale3d($sx, $sy, $sz));
}
