@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 30%, 0);
    -moz-transform: translate3d(0, 30%, 0);
    -ms-transform: translate3d(0, 30%, 0);
    -o-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  to {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

@keyframes slideOutDown {
  from {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  to {
    -webkit-transform: translate3d(0, 30%, 0);
    -moz-transform: translate3d(0, 30%, 0);
    -ms-transform: translate3d(0, 30%, 0);
    -o-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header, footer, main, article, aside, details,
figcaption, figure, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr {
  margin-bottom: 12px;
}

html {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  overflow-y: scroll;
  min-height: 100%;
}

h1, c-h1,
h2, c-h2,
h3, c-h3,
h6, c-h4,
h5, c-h5,
h6, c-h6 {
  line-height: 1.2;
  font-weight: 600;
}

h1,
.c-h1 {
  font-size: 1.7rem;
}

h2,
.c-h2 {
  font-size: 1.3rem;
}

h3,
.c-h3 {
  font-size: 1.1rem;
}

h4,
.c-h4 {
  font-size: 1rem;
}

h5,
.c-h5 {
  font-size: 0.9rem;
  text-transform: uppercase;
}

h6,
.c-h6 {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

q {
  quotes: "\201c" "\201d" "\2018" "\2019";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

cite {
  font-style: italic;
}

caption {
  font-style: italic;
}

kbd,
code,
var {
  color: #96268a;
  background-color: #f2f2f2;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 0.9rem;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 0.1em 0.25em;
}

kbd {
  border-bottom-width: 3px;
}

sub,
sup {
  vertical-align: baseline;
  font-size: 0.8125em;
  position: relative;
  top: -0.5em;
}

sub {
  top: 0.3em;
}

ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

big {
  font-size: 1.7rem;
}

small {
  font-size: 0.8rem;
}

dfn {
  font-style: italic;
}

abbr {
  border-bottom: 1px dotted currentColor;
}

hr {
  border: solid #e5e5e5;
  border-width: 1px 0 0;
  height: 0;
  margin-top: 36px;
  margin-bottom: 36px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li ul,
li ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd,
ol,
ul {
  margin-left: 1.3333rem;
}

a {
  color: #7342ab;
  text-decoration: underline;
}

a:focus {
  outline-width: 2px;
  outline-color: #7342ab;
  outline-style: solid;
  outline-offset: 2px;
}

a:hover {
  text-decoration: none;
}

img {
  border: 0;
  max-width: 100%;
  height: inherit;
  font-style: italic;
  vertical-align: middle;
}

img[width], img[height] {
  max-width: none;
}

table {
  width: 100%;
}

thead {
  border-bottom: 2px solid #e5e5e5;
}

thead th {
  vertical-align: bottom;
}

tfoot {
  border-top: 2px solid #e5e5e5;
}

tfoot th {
  vertical-align: top;
}

thead th,
tfoot th {
  padding-top: 6px;
  padding-bottom: 6px;
}

th,
td {
  text-align: left;
  vertical-align: top;
  padding: 12px;
}

th {
  font-weight: 600;
}

button:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 2px #7342ab;
}

[type="text"],
[type="password"],
[type="search"],
[type="email"],
[type="tel"],
[type="url"],
[type="number"],
[type="date"],
[type="week"],
[type="month"],
[type="datetime-local"],
[type="color"],
textarea,
select {
  font: inherit;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  width: 100%;
  height: 32px;
  margin: 0;
  padding: 0 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

[type="text"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="email"]:focus,
[type="tel"]:focus,
[type="url"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="week"]:focus,
[type="month"]:focus,
[type="datetime-local"]:focus,
[type="color"]:focus,
textarea:focus,
select:focus {
  border-color: #7342ab;
  box-shadow: 0 0 0 1px #7342ab;
  outline: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button,
[type="search"]::-webkit-search-results-decoration {
  display: none;
}

textarea {
  display: block;
  height: auto;
  min-height: 80px;
  padding-top: 6px;
  padding-bottom: 6px;
  resize: vertical;
}

select {
  background-image: url("images/icons/select-arrow.svg");
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: 9px 11px;
  box-shadow: none;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-start: 6px;
  -moz-padding-start: 6px;
  -webkit-padding-end: 40px;
  -moz-padding-end: 40px;
}

select::-ms-expand {
  display: none;
}

[type="radio"],
[type="checkbox"] {
  position: relative;
  top: -1px;
  margin: 0 4px 0 0;
}

[type="range"] {
  margin: 0;
  width: 100%;
  -webkit-appearance: none;
}

[type="range"]:focus {
  outline: 0;
}

[type="range"]:focus::-webkit-slider-runnable-track {
  outline: none;
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 2px #7342ab;
}

[type="range"]:focus::-moz-range-track {
  outline: none;
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 2px #7342ab;
}

[type="range"]:focus::-ms-fill-lower {
  outline: none;
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 2px #7342ab;
}

[type="range"]:focus::-ms-fill-upper {
  outline: none;
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 2px #7342ab;
}

[type="range"]::-webkit-slider-runnable-track {
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 8px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

[type="range"]::-webkit-slider-thumb {
  background-color: #7342ab;
  height: 20px;
  width: 20px;
  margin-top: -6px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-appearance: none;
}

[type="range"]::-moz-range-track {
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 8px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

[type="range"]::-moz-range-thumb {
  background-color: #7342ab;
  height: 20px;
  width: 20px;
  margin-top: -6px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-appearance: none;
}

[type="range"]::-ms-track {
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 8px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

[type="range"]::-ms-fill-lower {
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 8px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

[type="range"]::-ms-fill-upper {
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 8px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

[type="range"]::-ms-thumb {
  background-color: #7342ab;
  height: 20px;
  width: 20px;
  margin-top: -6px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-appearance: none;
}

[disabled] {
  opacity: 0.4;
  pointer-events: none;
  background-color: #f2f2f2;
  box-shadow: none;
}

.o-box {
  display: block;
  padding: 24px;
}

.o-box:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.o-box > :last-child {
  margin-bottom: 0;
}

.o-box--small {
  padding: 12px;
}

.o-box--large {
  padding: 36px;
}

.o-box--flush {
  padding-left: 0;
  padding-right: 0;
}

.o-box--flat {
  padding-top: 0;
  padding-bottom: 0;
}

.o-button-bare {
  display: inline-block;
  color: inherit;
  background-color: transparent;
  font: inherit;
  text-align: left;
  text-decoration: none;
  vertical-align: baseline;
  border: none;
  border-radius: 0;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.o-button-bare:hover {
  background-color: transparent;
}

.o-container--xxs {
  width: 180px;
}

.o-container--xs {
  width: 250px;
}

.o-container--sm {
  width: 350px;
}

.o-container--md {
  width: 450px;
}

.o-container--lg {
  width: 600px;
}

.o-container--xl {
  width: 800px;
}

.o-container--xxl {
  width: 86em;
}

.o-container--grey {
  background-color: #f2f2f2;
}

.o-container--code {
  background-color: #f2f2f2;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.o-container--code code {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  padding: 0;
}

.o-scrollable {
  overflow-y: scroll;
}

.o-scrollable--small {
  max-height: 265px;
}

.o-container--responsive {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.o-flag {
  display: table;
  width: 100%;
  border-spacing: 0;
}

.o-flag:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.o-flag__img,
.o-flag__body {
  display: table-cell;
  vertical-align: middle;
}

.o-flag__img {
  width: 1px;
  padding-right: 24px;
}

.o-flag__img > img {
  max-width: none;
}

.o-flag__body {
  width: auto;
}

.o-flag__body,
.o-flag__body > :last-child {
  margin-bottom: 0;
}

.o-flag--small > .o-flag__img {
  padding-right: 12px;
}

.o-flag--large > .o-flag__img {
  padding-right: 36px;
}

.o-flag--top > .o-flag__img,
.o-flag--top > .o-flag__body {
  vertical-align: top;
}

.o-flag--bottom > .o-flag__img,
.o-flag--bottom > .o-flag__body {
  vertical-align: bottom;
}

.o-input-bare {
  font: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.o-island {
  display: block;
  margin-bottom: 24px;
}

.o-island:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.o-island > :last-child {
  margin-bottom: 0;
}

.o-island--large {
  margin-bottom: 36px;
}

.o-island--huge {
  margin-bottom: 48px;
}

.o-row {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 86em;
  margin-left: auto;
  margin-right: auto;
}

.o-row .o-row {
  width: auto;
  margin-left: -15px;
  margin-right: -15px;
}

.o-row--no-gutters .o-col {
  padding-left: 0;
  padding-right: 0;
}

.o-col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.o-col--first {
  order: -1;
}

.o-col--last {
  order: 1;
}

@media screen and (min-width: 34em) {
  .o-col--first-sm {
    order: -1;
  }
  .o-col--last-sm {
    order: 1;
  }
}

@media screen and (min-width: 46em) {
  .o-col--first-md {
    order: -1;
  }
  .o-col--last-md {
    order: 1;
  }
}

@media screen and (min-width: 64em) {
  .o-col--first-lg {
    order: -1;
  }
  .o-col--last-lg {
    order: 1;
  }
}

@media screen and (min-width: 86em) {
  .o-col--first-xl {
    order: -1;
  }
  .o-col--last-xl {
    order: 1;
  }
}

.o-block-grid {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.o-row .o-block-grid {
  margin-left: -15px;
  margin-right: -15px;
}

.o-block-grid__item {
  width: 100%;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.o-block-grid-1 .o-block-grid__item {
  width: 100%;
}

.o-block-grid-2 .o-block-grid__item {
  width: 50%;
}

.o-block-grid-3 .o-block-grid__item {
  width: 33.33333%;
}

.o-block-grid-4 .o-block-grid__item {
  width: 25%;
}

.o-block-grid-5 .o-block-grid__item {
  width: 20%;
}

@media screen and (min-width: 34em) {
  .o-block-grid-1-sm .o-block-grid__item {
    width: 100%;
  }
  .o-block-grid-2-sm .o-block-grid__item {
    width: 50%;
  }
  .o-block-grid-3-sm .o-block-grid__item {
    width: 33.33333%;
  }
  .o-block-grid-4-sm .o-block-grid__item {
    width: 25%;
  }
  .o-block-grid-5-sm .o-block-grid__item {
    width: 20%;
  }
}

@media screen and (min-width: 46em) {
  .o-block-grid-1-md .o-block-grid__item {
    width: 100%;
  }
  .o-block-grid-2-md .o-block-grid__item {
    width: 50%;
  }
  .o-block-grid-3-md .o-block-grid__item {
    width: 33.33333%;
  }
  .o-block-grid-4-md .o-block-grid__item {
    width: 25%;
  }
  .o-block-grid-5-md .o-block-grid__item {
    width: 20%;
  }
}

@media screen and (min-width: 64em) {
  .o-block-grid-1-lg .o-block-grid__item {
    width: 100%;
  }
  .o-block-grid-2-lg .o-block-grid__item {
    width: 50%;
  }
  .o-block-grid-3-lg .o-block-grid__item {
    width: 33.33333%;
  }
  .o-block-grid-4-lg .o-block-grid__item {
    width: 25%;
  }
  .o-block-grid-5-lg .o-block-grid__item {
    width: 20%;
  }
}

@media screen and (min-width: 86em) {
  .o-block-grid-1-xl .o-block-grid__item {
    width: 100%;
  }
  .o-block-grid-2-xl .o-block-grid__item {
    width: 50%;
  }
  .o-block-grid-3-xl .o-block-grid__item {
    width: 33.33333%;
  }
  .o-block-grid-4-xl .o-block-grid__item {
    width: 25%;
  }
  .o-block-grid-5-xl .o-block-grid__item {
    width: 20%;
  }
}

.o-list-bare {
  list-style: none;
  margin: 0;
}

.o-list-inline {
  margin-left: 0;
  list-style: none;
}

.o-list-inline__item {
  float: left;
}

.o-media {
  display: block;
}

.o-media:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.o-media__img {
  float: left;
  margin-right: 24px;
}

.o-media__img > img {
  display: block;
}

.o-media__body {
  overflow: hidden;
  display: block;
}

.o-media__body,
.o-media__body > :last-child {
  margin-bottom: 0;
}

.o-media--flush > .o-media__img {
  margin-right: 0;
  margin-left: 0;
}

.o-media--small > .o-media__img {
  margin-right: 12px;
}

.o-media--large > .o-media__img {
  margin-right: 36px;
}

.c-alert {
  position: relative;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 3px;
  margin-bottom: 6px;
}

.c-alert--success {
  background-color: #e1f5f0;
}

.c-alert--warning {
  background-color: #fffdce;
}

.c-alert--error {
  background-color: #f5e1e1;
}

.c-button {
  display: inline-block;
  color: #000;
  background-color: #f2f2f2;
  text-align: center;
  vertical-align: baseline;
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.1s;
  box-shadow: 0 1px 0 #d8d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.c-button:hover {
  background-color: #e0e0e0;
}

.c-button:active {
  position: relative;
  top: 1px;
  box-shadow: none;
}

.c-button.is-loading {
  background-image: url("images/icons/loading.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 31px;
}

.c-button__icon {
  margin-right: 6px;
}

.c-button--primary {
  color: #fff;
  background-color: #7342ab;
  box-shadow: 0 1px 0 #5a3486;
}

.c-button--primary:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 2px #7342ab;
}

.c-button--primary:hover {
  color: #fff;
  background-color: #623891;
}

.c-button--danger {
  color: #fff;
  background-color: #e00;
  box-shadow: 0 1px 0 #bb0000;
}

.c-button--danger:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 2px #7342ab;
}

.c-button--danger:hover {
  background-color: #ca0000;
}

.c-button--danger.c-button--link {
  color: #e00;
}

.c-button--danger.c-button--link:hover {
  color: #ca0000;
}

.c-button--primary.is-loading,
.c-button--danger.is-loading {
  background-image: url("images/icons/loading-ko.svg");
}

.c-button--link {
  display: inline-block;
  color: inherit;
  background-color: transparent;
  font: inherit;
  text-align: left;
  text-decoration: none;
  vertical-align: baseline;
  border: none;
  border-radius: 0;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #7342ab;
  text-decoration: underline;
}

.c-button--link:hover {
  background-color: transparent;
}

.c-button--link:hover {
  color: #7342ab;
  text-decoration: none;
}

.c-button--link.is-loading {
  background-position-x: 0;
  padding-left: 21px;
}

.c-button--dropdown:after {
  position: relative;
  top: -1px;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid currentColor;
  margin-left: 5px;
}

.c-button-close {
  position: absolute;
  top: 0;
  right: 0;
  color: inherit;
  text-align: center;
  font-size: 1.7rem;
  line-height: 1;
  width: 35px;
  height: 35px;
  padding: 0 0 4px;
}

.c-button-close:hover {
  color: #7342ab;
}

.c-button-bar .c-button-group,
.c-button-bar .c-button {
  margin-right: 6px;
}

.c-button-bar .c-button-group:last-child,
.c-button-bar .c-button:last-child {
  margin-right: 0;
}

.c-button-group {
  display: flex;
  flex-wrap: nowrap;
}

.c-button-group .c-button {
  margin-right: 0;
  border-radius: 0;
}

.c-button-group .c-button:not(:last-child) {
  border-right: 1px solid #d8d8d8;
}

.c-button-group .c-button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.c-button-group .c-button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.c-card {
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.c-dropdown {
  display: none;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.c-dropdown.is-open {
  display: block;
}

.c-site-header {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #7342ab;
  padding-left: 24px;
  padding-right: 24px;
}

.c-site-header__nav {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
}

.c-site-header__logo {
  margin-right: 24px;
}

.c-page-header {
  background-color: #faf8fc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.c-field {
  display: block;
  margin-bottom: 24px;
}

.c-field:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.c-field__label {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 6px;
}

.c-field__label.is-required:after {
  content: "*";
  margin-left: 3px;
}

.c-field__text {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.c-input-error {
  border-color: #e00;
}

.c-input-error:focus {
  border-color: #e00;
  box-shadow: 0 0 0 1px #e00;
}

.c-radio,
.c-checkbox {
  display: inline-block;
  padding-left: 20px;
}

.c-radio:after,
.c-checkbox:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.c-radio .c-field__label,
.c-checkbox .c-field__label {
  font-weight: 400;
  margin-bottom: 0;
}

[type="radio"],
[type="checkbox"] {
  float: left;
  margin-top: 5px;
  margin-left: -20px;
}

[type="radio"]:focus,
[type="checkbox"]:focus {
  outline: none;
}

[type="radio"]:focus ~ .c-field__label,
[type="checkbox"]:focus ~ .c-field__label {
  outline-width: 2px;
  outline-color: #7342ab;
  outline-style: solid;
  outline-offset: 2px;
}

.c-radio--inline {
  margin-right: 20px;
}

[disabled] ~ .c-field__label {
  opacity: 0.4;
}

.c-choices__item:not(:last-child) {
  margin-bottom: 6px;
}

.c-list-link {
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 12px;
}

.c-list-link:hover {
  background-color: rgba(115, 66, 171, 0.07);
  text-decoration: none;
}

.c-list-link--separated {
  border-top: 1px solid #e5e5e5;
}

.c-list-link--small {
  padding: 6px 12px;
}

.c-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
  z-index: 300;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -ms-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: cubic-bezier(0.66, 0, 0.33, 1);
  -moz-animation-timing-function: cubic-bezier(0.66, 0, 0.33, 1);
  -ms-animation-timing-function: cubic-bezier(0.66, 0, 0.33, 1);
  -o-animation-timing-function: cubic-bezier(0.66, 0, 0.33, 1);
  animation-timing-function: cubic-bezier(0.66, 0, 0.33, 1);
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.c-modal.is-open {
  display: block;
}

.c-modal.is-closing {
  display: block;
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.c-modal.is-closing .c-modal__container {
  -webkit-animation-name: slideOutDown;
  -moz-animation-name: slideOutDown;
  -ms-animation-name: slideOutDown;
  -o-animation-name: slideOutDown;
  animation-name: slideOutDown;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.c-modal__container {
  position: relative;
  display: block;
  background-color: #fff;
  border-radius: 3px;
  margin: 10vh auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -ms-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: cubic-bezier(0.66, 0, 0.33, 1);
  -moz-animation-timing-function: cubic-bezier(0.66, 0, 0.33, 1);
  -ms-animation-timing-function: cubic-bezier(0.66, 0, 0.33, 1);
  -o-animation-timing-function: cubic-bezier(0.66, 0, 0.33, 1);
  animation-timing-function: cubic-bezier(0.66, 0, 0.33, 1);
  -webkit-animation-name: slideInUp;
  -moz-animation-name: slideInUp;
  -ms-animation-name: slideInUp;
  -o-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.c-pagination__item {
  display: inline-block;
  color: #bfbfbf;
  font-size: 1rem;
  font-weight: 600;
}

.c-pagination__item:not(:last-child) {
  margin-right: 2px;
}

.c-pagination__item.is-selected .c-pagination__link {
  color: #fff;
  background-color: #7342ab;
  text-decoration: none;
}

.c-pagination__link {
  display: inline-block;
  color: #7342ab;
  border-radius: 3px;
  padding: 6px 10px;
}

.c-pagination__link:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 2px #7342ab;
}

.c-pagination__link:hover {
  background-color: rgba(115, 66, 171, 0.07);
}

.c-pagination__link:active {
  position: relative;
  top: 1px;
}

.c-progress {
  margin-bottom: 24px;
}

.c-progress:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.c-progress__track {
  display: block;
  background: #f2f2f2;
  width: 100%;
  height: 14px;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.c-progress__bar {
  background-color: #7342ab;
  border-radius: 3px;
  height: 14px;
  margin-bottom: 6px;
  transition: width 1s;
}

.c-progress__description {
  font-size: 0.9rem;
  font-style: italic;
}

.c-progress__bar--striped {
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-size: 14px 14px;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: progress-bar-stripes;
  -moz-animation-name: progress-bar-stripes;
  -ms-animation-name: progress-bar-stripes;
  -o-animation-name: progress-bar-stripes;
  animation-name: progress-bar-stripes;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 14px 0;
  }
}

.c-switch {
  position: relative;
  display: block;
  padding-left: 42px;
}

.c-switch:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.c-switch__input:checked + .c-switch__slider {
  background-color: #39c49f;
}

.c-switch__input:checked + .c-switch__slider:before {
  background-image: url("images/icons/check-small.svg");
  -webkit-transform: translateX(14px);
  -moz-transform: translateX(14px);
  -ms-transform: translateX(14px);
  -o-transform: translateX(14px);
  transform: translateX(14px);
}

.c-switch__input:focus + .c-switch__slider {
  outline: none;
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 2px #7342ab;
}

.c-switch__slider {
  float: left;
  display: inline-block;
  cursor: pointer;
  background-color: #bfbfbf;
  width: 34px;
  height: 20px;
  margin-left: -42px;
  border-radius: 10px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: background-color 0.2s;
  overflow: hidden;
}

.c-switch__slider:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #fff;
  background-image: url("images/icons/close-small.svg");
  background-position: center center;
  background-size: 7px 7px;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}

[disabled] ~ .c-switch__slider,
[disabled] ~ .c-switch__label {
  opacity: 0.4;
  pointer-events: none;
}

.c-table--fixed {
  table-layout: fixed;
}

.c-table--striped tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.c-table--ruled tbody tr {
  border-bottom: 1px solid #e5e5e5;
}

.c-table--hover tbody tr:hover {
  background-color: #fafafa;
}

.c-table--compact th,
.c-table--compact td {
  padding-top: 6px;
  padding-bottom: 6px;
}

.c-table__column--sortable:hover {
  cursor: pointer;
  background-color: rgba(115, 66, 171, 0.07);
}

.c-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.c-tabs__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
  height: 48px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  transition: border 0.1s;
}

.c-tabs__link:hover,
.c-tabs__link:focus,
.c-tabs__link.is-open,
.c-tabs__link.is-selected {
  color: #000;
}

.c-tabs__link:hover:before,
.c-tabs__link:focus:before,
.c-tabs__link.is-open:before,
.c-tabs__link.is-selected:before {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #7342ab;
  content: "";
  width: 100%;
  height: 3px;
}

.c-tabs__link:hover,
.c-tabs__link:focus {
  color: #fff;
  background-color: #7342ab;
  box-shadow: none;
  outline: none;
}

.c-tabs__link--ko {
  color: #fff;
}

.c-tabs__link--ko:hover,
.c-tabs__link--ko:focus,
.c-tabs__link--ko.is-open,
.c-tabs__link--ko.is-selected {
  color: #fff;
}

.c-tabs__link--ko:hover:before,
.c-tabs__link--ko:focus:before,
.c-tabs__link--ko.is-open:before,
.c-tabs__link--ko.is-selected:before {
  background-color: #00ffff;
}

.c-tabs__link--ko:hover,
.c-tabs__link--ko:focus {
  color: #7342ab;
  background-color: #00ffff;
  box-shadow: none;
}

.c-tabs__link--notifications {
  background-image: url("images/icons/bell-ko.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
  width: 40px;
}

.c-tabs__link--notifications.is-selected,
.c-tabs__link--notifications:hover,
.c-tabs__link--notifications:focus {
  background-image: url("images/icons/bell.svg");
}

.c-tooltip {
  display: none;
  color: #fff;
  background-color: #4d4d4d;
  text-align: center;
  font-size: 0.9rem;
  max-width: 250px;
  padding: 6px 12px;
  border-radius: 3px;
  z-index: 600;
  -webkit-animation-duration: 0.1s;
  -moz-animation-duration: 0.1s;
  -ms-animation-duration: 0.1s;
  -o-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-timing-function: cubic-bezier(0.66, 0, 0.33, 1);
  -moz-animation-timing-function: cubic-bezier(0.66, 0, 0.33, 1);
  -ms-animation-timing-function: cubic-bezier(0.66, 0, 0.33, 1);
  -o-animation-timing-function: cubic-bezier(0.66, 0, 0.33, 1);
  animation-timing-function: cubic-bezier(0.66, 0, 0.33, 1);
}

.c-tooltip:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
}

.c-tooltip.is-open {
  display: inline-block;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.c-tooltip.is-closing {
  display: inline-block;
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

[x-placement="top"]:after,
[x-placement="top-start"]:after,
[x-placement="top-end"]:after,
[x-placement="bottom"]:after,
[x-placement="bottom-start"]:after,
[x-placement="bottom-end"]:after {
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

[x-placement="top"]:after,
[x-placement="top-start"]:after,
[x-placement="top-end"]:after {
  bottom: -5px;
  border-top: 5px solid #4d4d4d;
}

[x-placement="bottom"]:after,
[x-placement="bottom-start"]:after,
[x-placement="bottom-end"]:after {
  top: -5px;
  border-bottom: 5px solid #4d4d4d;
}

[x-placement="top-start"]:after,
[x-placement="bottom-start"]:after {
  left: 10px;
}

[x-placement="top-end"]:after,
[x-placement="bottom-end"]:after {
  left: auto;
  right: 5px;
}

[x-placement="left"]:after,
[x-placement="left-start"]:after,
[x-placement="left-end"]:after,
[x-placement="right"]:after,
[x-placement="right-start"]:after,
[x-placement="right-end"]:after {
  top: 50%;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

[x-placement="left"]:after,
[x-placement="left-start"]:after,
[x-placement="left-end"]:after {
  right: -5px;
  border-left: 5px solid #4d4d4d;
}

[x-placement="right"]:after,
[x-placement="right-start"]:after,
[x-placement="right-end"]:after {
  left: -5px;
  border-right: 5px solid #4d4d4d;
}

[x-placement="left-start"]:after,
[x-placement="right-start"]:after {
  top: 10px;
}

[x-placement="left-end"]:after,
[x-placement="right-end"]:after {
  top: auto;
  bottom: 5px;
}

.u-sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.u-skip-link {
  color: #000;
  background-color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 16px 7px;
  outline: none;
  transition-duration: 0s;
  box-shadow: 0 0 0 2px #7342ab;
}

.u-skip-link:focus {
  left: 15px;
  top: 15px;
  clip: auto;
  width: auto;
  height: auto;
  z-index: 900;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  outline: none;
}

.u-border-top {
  border-top: 1px solid #e5e5e5 !important;
}

.u-border-bottom {
  border-bottom: 1px solid #e5e5e5 !important;
}

.u-border-left {
  border-left: 1px solid #e5e5e5 !important;
}

.u-border-right {
  border-right: 1px solid #e5e5e5 !important;
}

@media screen and (min-width: 34em) {
  .u-border-top-sm {
    border-top: 1px solid #e5e5e5 !important;
  }
  .u-no-border-top-sm {
    border-top: none !important;
  }
  .u-border-bottom-sm {
    border-bottom: 1px solid #e5e5e5 !important;
  }
  .u-no-border-bottom-sm {
    border-bottom: none !important;
  }
  .u-border-left-sm {
    border-left: 1px solid #e5e5e5 !important;
  }
  .u-no-border-left-sm {
    border-left: none !important;
  }
  .u-border-right-sm {
    border-right: 1px solid #e5e5e5 !important;
  }
  .u-no-border-right-sm {
    border-right: none !important;
  }
}

@media screen and (min-width: 46em) {
  .u-border-top-md {
    border-top: 1px solid #e5e5e5 !important;
  }
  .u-no-border-top-md {
    border-top: none !important;
  }
  .u-border-bottom-md {
    border-bottom: 1px solid #e5e5e5 !important;
  }
  .u-no-border-bottom-md {
    border-bottom: none !important;
  }
  .u-border-left-md {
    border-left: 1px solid #e5e5e5 !important;
  }
  .u-no-border-left-md {
    border-left: none !important;
  }
  .u-border-right-md {
    border-right: 1px solid #e5e5e5 !important;
  }
  .u-no-border-right-md {
    border-right: none !important;
  }
}

@media screen and (min-width: 64em) {
  .u-border-top-lg {
    border-top: 1px solid #e5e5e5 !important;
  }
  .u-no-border-top-lg {
    border-top: none !important;
  }
  .u-border-bottom-lg {
    border-bottom: 1px solid #e5e5e5 !important;
  }
  .u-no-border-bottom-lg {
    border-bottom: none !important;
  }
  .u-border-left-lg {
    border-left: 1px solid #e5e5e5 !important;
  }
  .u-no-border-left-lg {
    border-left: none !important;
  }
  .u-border-right-lg {
    border-right: 1px solid #e5e5e5 !important;
  }
  .u-no-border-right-lg {
    border-right: none !important;
  }
}

@media screen and (min-width: 86em) {
  .u-border-top-xl {
    border-top: 1px solid #e5e5e5 !important;
  }
  .u-no-border-top-xl {
    border-top: none !important;
  }
  .u-border-bottom-xl {
    border-bottom: 1px solid #e5e5e5 !important;
  }
  .u-no-border-bottom-xl {
    border-bottom: none !important;
  }
  .u-border-left-xl {
    border-left: 1px solid #e5e5e5 !important;
  }
  .u-no-border-left-xl {
    border-left: none !important;
  }
  .u-border-right-xl {
    border-right: 1px solid #e5e5e5 !important;
  }
  .u-no-border-right-xl {
    border-right: none !important;
  }
}

.u-clearfix:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.u-flex {
  display: flex !important;
}

.u-align-items-center {
  align-items: center !important;
}

.u-justify-content-center {
  justify-content: center !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-relative {
  position: relative !important;
}

.u-center {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.u-pull-left {
  float: left !important;
}

.u-pull-right {
  float: right !important;
}

.u-margin-bottom-sm {
  margin-bottom: 12px !important;
}

.u-margin-bottom-md {
  margin-bottom: 24px !important;
}

.u-margin-bottom-lg {
  margin-bottom: 36px !important;
}

.u-no-margin-bottom {
  margin-bottom: 0 !important;
}

.u-no-padding-bottom {
  padding-bottom: 0 !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-center {
  text-align: center !important;
}

.u-no-wrap {
  white-space: nowrap !important;
}

.u-text-truncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.u-text-monospace {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace !important;
}

.u-text-small {
  font-size: 0.8rem !important;
}

.u-text-big {
  font-size: 1.7rem !important;
}

.u-text-no-decoration {
  text-decoration: none !important;
}

.u-text-muted {
  opacity: 0.5 !important;
}

.u-text-error {
  color: #e00 !important;
}

.u-text-ko {
  color: #fff !important;
}

.u-1of12 {
  width: 8.33333% !important;
}

.u-offset-1of12 {
  margin-left: 8.33333% !important;
}

.u-2of12 {
  width: 16.66667% !important;
}

.u-offset-2of12 {
  margin-left: 16.66667% !important;
}

.u-3of12 {
  width: 25% !important;
}

.u-offset-3of12 {
  margin-left: 25% !important;
}

.u-4of12 {
  width: 33.33333% !important;
}

.u-offset-4of12 {
  margin-left: 33.33333% !important;
}

.u-5of12 {
  width: 41.66667% !important;
}

.u-offset-5of12 {
  margin-left: 41.66667% !important;
}

.u-6of12 {
  width: 50% !important;
}

.u-offset-6of12 {
  margin-left: 50% !important;
}

.u-7of12 {
  width: 58.33333% !important;
}

.u-offset-7of12 {
  margin-left: 58.33333% !important;
}

.u-8of12 {
  width: 66.66667% !important;
}

.u-offset-8of12 {
  margin-left: 66.66667% !important;
}

.u-9of12 {
  width: 75% !important;
}

.u-offset-9of12 {
  margin-left: 75% !important;
}

.u-10of12 {
  width: 83.33333% !important;
}

.u-offset-10of12 {
  margin-left: 83.33333% !important;
}

.u-11of12 {
  width: 91.66667% !important;
}

.u-offset-11of12 {
  margin-left: 91.66667% !important;
}

.u-12of12 {
  width: 100% !important;
}

.u-offset-12of12 {
  margin-left: 100% !important;
}

@media screen and (min-width: 34em) {
  .u-1of12-sm {
    width: 8.33333% !important;
  }
  .u-offset-1of12-sm {
    margin-left: 8.33333% !important;
  }
  .u-2of12-sm {
    width: 16.66667% !important;
  }
  .u-offset-2of12-sm {
    margin-left: 16.66667% !important;
  }
  .u-3of12-sm {
    width: 25% !important;
  }
  .u-offset-3of12-sm {
    margin-left: 25% !important;
  }
  .u-4of12-sm {
    width: 33.33333% !important;
  }
  .u-offset-4of12-sm {
    margin-left: 33.33333% !important;
  }
  .u-5of12-sm {
    width: 41.66667% !important;
  }
  .u-offset-5of12-sm {
    margin-left: 41.66667% !important;
  }
  .u-6of12-sm {
    width: 50% !important;
  }
  .u-offset-6of12-sm {
    margin-left: 50% !important;
  }
  .u-7of12-sm {
    width: 58.33333% !important;
  }
  .u-offset-7of12-sm {
    margin-left: 58.33333% !important;
  }
  .u-8of12-sm {
    width: 66.66667% !important;
  }
  .u-offset-8of12-sm {
    margin-left: 66.66667% !important;
  }
  .u-9of12-sm {
    width: 75% !important;
  }
  .u-offset-9of12-sm {
    margin-left: 75% !important;
  }
  .u-10of12-sm {
    width: 83.33333% !important;
  }
  .u-offset-10of12-sm {
    margin-left: 83.33333% !important;
  }
  .u-11of12-sm {
    width: 91.66667% !important;
  }
  .u-offset-11of12-sm {
    margin-left: 91.66667% !important;
  }
  .u-12of12-sm {
    width: 100% !important;
  }
  .u-offset-12of12-sm {
    margin-left: 100% !important;
  }
}

@media screen and (min-width: 46em) {
  .u-1of12-md {
    width: 8.33333% !important;
  }
  .u-offset-1of12-md {
    margin-left: 8.33333% !important;
  }
  .u-2of12-md {
    width: 16.66667% !important;
  }
  .u-offset-2of12-md {
    margin-left: 16.66667% !important;
  }
  .u-3of12-md {
    width: 25% !important;
  }
  .u-offset-3of12-md {
    margin-left: 25% !important;
  }
  .u-4of12-md {
    width: 33.33333% !important;
  }
  .u-offset-4of12-md {
    margin-left: 33.33333% !important;
  }
  .u-5of12-md {
    width: 41.66667% !important;
  }
  .u-offset-5of12-md {
    margin-left: 41.66667% !important;
  }
  .u-6of12-md {
    width: 50% !important;
  }
  .u-offset-6of12-md {
    margin-left: 50% !important;
  }
  .u-7of12-md {
    width: 58.33333% !important;
  }
  .u-offset-7of12-md {
    margin-left: 58.33333% !important;
  }
  .u-8of12-md {
    width: 66.66667% !important;
  }
  .u-offset-8of12-md {
    margin-left: 66.66667% !important;
  }
  .u-9of12-md {
    width: 75% !important;
  }
  .u-offset-9of12-md {
    margin-left: 75% !important;
  }
  .u-10of12-md {
    width: 83.33333% !important;
  }
  .u-offset-10of12-md {
    margin-left: 83.33333% !important;
  }
  .u-11of12-md {
    width: 91.66667% !important;
  }
  .u-offset-11of12-md {
    margin-left: 91.66667% !important;
  }
  .u-12of12-md {
    width: 100% !important;
  }
  .u-offset-12of12-md {
    margin-left: 100% !important;
  }
}

@media screen and (min-width: 64em) {
  .u-1of12-lg {
    width: 8.33333% !important;
  }
  .u-offset-1of12-lg {
    margin-left: 8.33333% !important;
  }
  .u-2of12-lg {
    width: 16.66667% !important;
  }
  .u-offset-2of12-lg {
    margin-left: 16.66667% !important;
  }
  .u-3of12-lg {
    width: 25% !important;
  }
  .u-offset-3of12-lg {
    margin-left: 25% !important;
  }
  .u-4of12-lg {
    width: 33.33333% !important;
  }
  .u-offset-4of12-lg {
    margin-left: 33.33333% !important;
  }
  .u-5of12-lg {
    width: 41.66667% !important;
  }
  .u-offset-5of12-lg {
    margin-left: 41.66667% !important;
  }
  .u-6of12-lg {
    width: 50% !important;
  }
  .u-offset-6of12-lg {
    margin-left: 50% !important;
  }
  .u-7of12-lg {
    width: 58.33333% !important;
  }
  .u-offset-7of12-lg {
    margin-left: 58.33333% !important;
  }
  .u-8of12-lg {
    width: 66.66667% !important;
  }
  .u-offset-8of12-lg {
    margin-left: 66.66667% !important;
  }
  .u-9of12-lg {
    width: 75% !important;
  }
  .u-offset-9of12-lg {
    margin-left: 75% !important;
  }
  .u-10of12-lg {
    width: 83.33333% !important;
  }
  .u-offset-10of12-lg {
    margin-left: 83.33333% !important;
  }
  .u-11of12-lg {
    width: 91.66667% !important;
  }
  .u-offset-11of12-lg {
    margin-left: 91.66667% !important;
  }
  .u-12of12-lg {
    width: 100% !important;
  }
  .u-offset-12of12-lg {
    margin-left: 100% !important;
  }
}

@media screen and (min-width: 86em) {
  .u-1of12-xl {
    width: 8.33333% !important;
  }
  .u-offset-1of12-xl {
    margin-left: 8.33333% !important;
  }
  .u-2of12-xl {
    width: 16.66667% !important;
  }
  .u-offset-2of12-xl {
    margin-left: 16.66667% !important;
  }
  .u-3of12-xl {
    width: 25% !important;
  }
  .u-offset-3of12-xl {
    margin-left: 25% !important;
  }
  .u-4of12-xl {
    width: 33.33333% !important;
  }
  .u-offset-4of12-xl {
    margin-left: 33.33333% !important;
  }
  .u-5of12-xl {
    width: 41.66667% !important;
  }
  .u-offset-5of12-xl {
    margin-left: 41.66667% !important;
  }
  .u-6of12-xl {
    width: 50% !important;
  }
  .u-offset-6of12-xl {
    margin-left: 50% !important;
  }
  .u-7of12-xl {
    width: 58.33333% !important;
  }
  .u-offset-7of12-xl {
    margin-left: 58.33333% !important;
  }
  .u-8of12-xl {
    width: 66.66667% !important;
  }
  .u-offset-8of12-xl {
    margin-left: 66.66667% !important;
  }
  .u-9of12-xl {
    width: 75% !important;
  }
  .u-offset-9of12-xl {
    margin-left: 75% !important;
  }
  .u-10of12-xl {
    width: 83.33333% !important;
  }
  .u-offset-10of12-xl {
    margin-left: 83.33333% !important;
  }
  .u-11of12-xl {
    width: 91.66667% !important;
  }
  .u-offset-11of12-xl {
    margin-left: 91.66667% !important;
  }
  .u-12of12-xl {
    width: 100% !important;
  }
  .u-offset-12of12-xl {
    margin-left: 100% !important;
  }
}

.u-reset-width {
  width: auto !important;
  max-width: none !important;
}

.u-full-height {
  height: 100% !important;
}
