// # Utilities: Widths & Heights
// -----------------------------------------------------------------------------

@mixin widths($columns, $breakpoint: null) {
	// Loop through the number of columns for each denominator of our fractions.
	@each $denominator in $columns {

		// Begin creating a numerator for our fraction up until we hit the
		// denominator.
		@for $numerator from 1 through $denominator {
			.u-#{$numerator}of#{$denominator}#{$breakpoint} {
				width: ($numerator / $denominator) * 100% !important;
			}

			@if $setting-use-grid-offsets {
				.u-offset-#{$numerator}of#{$denominator}#{$breakpoint} {
					margin-left: ($numerator / $denominator) * 100% !important;
				}
			}
		}
	}
}



// Add classes for each of the $fractions in `variables.scss`
// e.g. .u-6of12, .u-8of12-large, .u-9of12-medium

// No suffix on classes for < small breakpoint
@include widths($fractions);

@each $name, $size in $breakpoints {
	@include respond-to(#{$name}) {
		$suffix: "-#{$name}";
		@include widths($fractions, $suffix);
	}
}



// ## Width Resets
// -----------------------------------------------------------------------------

.u-reset-width {
	width: auto !important;
	max-width: none !important;
}



// ## Heights
// -----------------------------------------------------------------------------

.u-full-height {
	height: 100% !important;
}