// # Components: Card
// -----------------------------------------------------------------------------

.c-card {
	background-color: #fff;
	border-radius: $border-radius;
	margin-bottom: $global-spacing-unit-small;
	box-shadow: $dropshadow--light;
}
