// # Components: Buttons
// -----------------------------------------------------------------------------

// 1. Left padding is calculated by adding the width of the loading icon plus
//    the left padding of the base button class plus a small right margin after
//    the icon.

.c-button {
	display: inline-block;
	color: $color-text;
	background-color: $grey-faint;
	text-align: center;
	vertical-align: baseline;
	font: inherit;
	font-size: $global-font-size;
	font-weight: $font-weight-normal;
	text-decoration: none;
	border: none;
	border-radius: $border-radius;
	margin: 0;
	padding: 5px 10px;
	cursor: pointer;
	transition: background-color $duration-fast;
	box-shadow: 0 1px 0 darken($grey-faint, 10%);
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;

	&:hover {
		background-color: darken($grey-faint, 7%);
	}

	&:active {
		position: relative;
		top: 1px;
		box-shadow: none;
	}

	&.is-loading {
		background-image: url("images/icons/loading.svg");
		background-repeat: no-repeat;
		background-position: 10px center;
		padding-left: 31px; // [1]
	}
}



// ## Button Alternates
// -----------------------------------------------------------------------------

.c-button--primary {
	color: #fff;
	background-color: $color-primary;
	box-shadow: 0 1px 0 darken($color-primary, 10%);

	&:focus {
		box-shadow: inset 0 0 0 1px #fff, 0 0 0 2px $color-primary;
	}

	&:hover {
		color: #fff;
		background-color: darken($color-primary, 7%);
	}
}

.c-button--danger {
	color: #fff;
	background-color: $color-error;
	box-shadow: 0 1px 0 darken($color-error, 10%);

	&:focus {
		box-shadow: inset 0 0 0 1px #fff, 0 0 0 2px $color-primary;
	}

	&:hover {
		background-color: darken($color-error, 7%);
	}

	&.c-button--link {
		color: $color-error;

		&:hover {
			color: darken($color-error, 7%);
		}
	}
}

.c-button--primary,
.c-button--danger {
	&.is-loading {
		background-image: url("images/icons/loading-ko.svg");
	}
}

// 1. Remove the extra 10 pixels of left padding that link buttons don't have.

.c-button--link {
	@include button-bare();
	color: $color-link;
	text-decoration: underline;

	&:hover {
		color: $color-link;
		text-decoration: none;
	}

	&.is-loading {
		background-position-x: 0; // [1]
		padding-left: 21px; // [1]
	}
}



// ## Button Modifiers
// -----------------------------------------------------------------------------

.c-button--full-width {
	width: 100%;
}

.c-button--dropdown {
	&:after {
		position: relative;
		top: -1px;
		display: inline-block;
		content: "";
		width: 0;
		height: 0;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid currentColor;
		margin-left: 5px;
	}
}



// ## Close Button
// -----------------------------------------------------------------------------

.c-button-close {
	position: absolute;
	top: 0;
	right: 0;
	color: inherit;
	text-align: center;
	font-size: $font-size-h1;
	line-height: 1;
	width: 35px;
	height: 35px;
	padding: 0 0 4px;

	&:hover {
		color: $color-link;
	}
}



// ## Button Bars
// -----------------------------------------------------------------------------

// Group buttons together and space them accordingly

.c-button-bar {
	.c-button {
		&:not(:last-child) {
			margin-right: 6px;
		}
	}
}
