// # Components: Inputs
// -----------------------------------------------------------------------------

// ## Shared
// -----------------------------------------------------------------------------

.c-field {
	@include clearfix();
	display: block;
	margin-bottom: $global-spacing-unit;
}



// ## Labels
// -----------------------------------------------------------------------------

.c-field__label {
	display: block;
	font-size: $font-size-h4;
	font-weight: $font-weight-bold;
	margin-bottom: 2px;

	&.is-required {
		&:after {
			content: "*";
			margin-left: 2px;
		}
	}
}

.c-field__label--radio,
.c-field__label--checkbox {
	display: inline;
	font-size: $global-font-size;
	font-weight: $font-weight-normal;
	margin-bottom: 0;
}



// ## Field Help Text
// -----------------------------------------------------------------------------

.c-field__help-text {
	display: inline-block;
	font-size: $font-size-h6;
	margin-bottom: 0;
}



// ## Text inputs
// -----------------------------------------------------------------------------

.c-input-error {
	border-color: $color-error;

	&:focus {
		border-color: $color-error;
		box-shadow: 0 0 0 1px $color-error;
	}
}



// ## Checkboxes and Radio Buttons
// -----------------------------------------------------------------------------

[disabled] {
	~ .c-field__label--radio,
	~ .c-field__label--checkbox {
		opacity: 0.4;
	}
}



// ## Choice List
// -----------------------------------------------------------------------------

.c-choices__item {
	&:not(:last-child) {
		margin-right: $global-spacing-unit;
	}
}



// ## Inline Field Labels
// -----------------------------------------------------------------------------

$label-width: 120px;

.c-field--inline {
	margin-bottom: $global-spacing-unit-small;

	[type="text"],
	[type="password"],
	[type="search"],
	[type="email"],
	[type="tel"],
	[type="url"],
	[type="number"],
	[type="date"],
	[type="week"],
	[type="month"],
	[type="datetime-local"],
	[type="color"]
	[type="range"],
	textarea,
	select {
		float: left;
		width: calc(100% - #{$label-width});
	}

	.c-field__label {
		float: left;
		width: $label-width;
		padding-right: 10px;
	}

	.c-field__label--radio,
	.c-field__label--checkbox {
		float: none;
		width: auto;
		padding-right: 0;
	}

	.c-field__help-text {
		margin-left: $label-width;
	}
}
