// # Components: Switch
// -----------------------------------------------------------------------------

.c-switch {
	position: relative;
	display: inline-block;
}

.c-switch__input {
	&:checked {
		+ .c-switch__slider {
			background-color: $color-success;
		}

		+ .c-switch__slider:before {
			background-image: url("images/icons/check-small.svg");
			@include translateX(14px);
		}
	}

	&:focus + .c-switch__slider {
		box-shadow: inset 0 0 0 1px #fff, 0 0 0 2px $color-primary;
	}
}

// 1. Center the switch input vertically with the switch label.
// 2. Border radius is half the height of the switch input.
// 3. Offset the switch handle inside the slider track.

.c-switch__slider {
	display: inline-block;
	position: relative;
	top: 5px; // [1]
	cursor: pointer;
	background-color: $grey;
	width: 34px;
	height: 20px;
	margin-right: 4px;
	border-radius: 10px; // [2]
	box-shadow: $dropshadow--inset;
	transition: background-color $duration;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		top: 2px; // [3]
		left: 2px; // [3]
		background-color: #fff;
		background-image: url("images/icons/close-small.svg");
		background-position: center center;
		background-size: 7px 7px;
		background-repeat: no-repeat;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		box-shadow: $dropshadow--light;
		transition: transform $duration;
	}
}
