// # Components: Inputs
// -----------------------------------------------------------------------------

// ## Shared
// -----------------------------------------------------------------------------

.c-field {
	display: block;
	margin-bottom: $global-spacing-unit;
	@include clearfix();
}



// ## Labels
// -----------------------------------------------------------------------------

.c-field__label {
	display: inline-block;
	font-weight: $font-weight-bold;
	margin-bottom: $global-spacing-unit-tiny;

	&.is-required {
		&:after {
			content: "*";
			margin-left: 3px;
		}
	}
}



// ## Field Help Text
// -----------------------------------------------------------------------------

.c-field__text {
	display: block;
	font-size: $font-size-h6;
	margin-bottom: 0;
}



// ## Text inputs
// -----------------------------------------------------------------------------

.c-input-error {
	border-color: $color-error;

	&:focus {
		border-color: $color-error;
		box-shadow: 0 0 0 1px $color-error;
	}
}



// ## Checkboxes and Radio Buttons
// -----------------------------------------------------------------------------

// 1. Remoe the default bottom margin applied to all field labels from checkbox
//    and radio labels.

.c-radio,
.c-checkbox {
	display: inline-block;
	padding-left: 20px;
	@include clearfix();

	.c-field__label {
		font-weight: $font-weight-normal;
		margin-bottom: 0; // [1]
	}
}

[type="radio"],
[type="checkbox"] {
	float: left;
	margin-top: 5px;
	margin-left: -20px;

	&:focus {
		outline: none;

		~ .c-field__label {
			@include focus-outline();
		}
	}
}

.c-radio--inline {
	margin-right: 20px;
}

[disabled] {
	~ .c-field__label {
		opacity: 0.4;
	}
}



// ## Choice List
// -----------------------------------------------------------------------------

// Add a little space below a group of checkboxes.

.c-choices__item {
	&:not(:last-child) {
		margin-bottom: $global-spacing-unit-tiny;
	}
}
