// # Components: Tooltips
// -----------------------------------------------------------------------------

.c-tooltip {
	display: none;
	color: #fff;
	background-color: $grey-dark;
	text-align: center;
	font-size: $font-size-h5;
	width: 250px;
	padding: $global-spacing-unit-tiny $global-spacing-unit-small;
	border-radius: $border-radius;
	z-index: $z-index-tooltip;
	@include animate($duration-fast);

	&:after {
		position: absolute;
		content: "";
		width: 0;
		height: 0;
	}

	&.is-open {
		display: inline-block;
		@include animation("fadeIn");
	}

	&.is-closing {
		display: inline-block;
		@include animation("fadeOut");
	}
}



// ## Tooltip Positions
// -----------------------------------------------------------------------------

// Top and Bottom

[x-placement="top"],
[x-placement="top-start"],
[x-placement="top-end"],
[x-placement="bottom"],
[x-placement="bottom-start"],
[x-placement="bottom-end"] {
	&:after {
		left: 50%;
		margin-left: -5px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
	}
}

[x-placement="top"],
[x-placement="top-start"],
[x-placement="top-end"] {
	&:after {
		bottom: -5px;
		border-top: 5px solid $grey-dark;
	}
}

[x-placement="bottom"],
[x-placement="bottom-start"],
[x-placement="bottom-end"] {
	&:after {
		top: -5px;
		border-bottom: 5px solid $grey-dark;
	}
}

[x-placement="top-start"],
[x-placement="bottom-start"] {
	&:after {
		left: 10px;
	}
}

[x-placement="top-end"],
[x-placement="bottom-end"] {
	&:after {
		left: auto;
		right: 5px;
	}
}

// Left and Right

[x-placement="left"],
[x-placement="left-start"],
[x-placement="left-end"],
[x-placement="right"],
[x-placement="right-start"],
[x-placement="right-end"] {
	&:after {
		top: 50%;
		margin-top: -5px;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
	}
}

[x-placement="left"],
[x-placement="left-start"],
[x-placement="left-end"] {
	&:after {
		right: -5px;
		border-left: 5px solid $grey-dark;
	}
}

[x-placement="right"],
[x-placement="right-start"],
[x-placement="right-end"] {
	&:after {
		left: -5px;
		border-right: 5px solid $grey-dark;
	}
}

[x-placement="left-start"],
[x-placement="right-start"] {
	&:after {
		top: 10px;
	}
}

[x-placement="left-end"],
[x-placement="right-end"] {
	&:after {
		top: auto;
		bottom: 5px;
	}
}
