// # Components: Navigation
// -----------------------------------------------------------------------------

.c-nav-bar {
	background-color: $color-primary;
	@include clearfix();
}

.c-nav-bar__logo {
	display: inline-block;
	float: left;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: $global-spacing-unit;
}

// 1. Offset the transparent bottom border so text remains centered.
// 2. Show as active when a dropdown is open as well.
// 3. Needs to be `:before` because dropdown buttons use `:after` to add the
//    caret and we don't want to override that.

.c-nav-bar__link {
	color: #fff;
	font-size: $global-font-size;
	text-decoration: none;
	max-width: 175px;
	height: 48px;
	padding-left: $global-spacing-unit-small;
	padding-right: $global-spacing-unit-small;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: border $duration-fast;

	&:hover,
	&:focus {
		color: $color-primary;
		background-color: $color-secondary;
	}

	&.is-open, // [2]
	&.is-selected {
		position: relative;

		&:before { // [3]
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: $color-secondary;
			content: "";
			width: 100%;
			height: 3px;
		}
	}
}

// 1. Icon width + padding left and right of link

.c-nav-bar__link--notifications {
	background-image: url("images/icons/bell-ko.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 16px 16px;
	width: 40px; // [1]

	&.is-selected,
	&:hover,
	&:focus {
		background-image: url("images/icons/bell.svg");
	}
}
