// # Components: Dropdown
// -----------------------------------------------------------------------------

// 1. Dropdowns are hidden by default.

.c-dropdown {
	display: none; // [1]
	background-color: #fff;
	border-radius: $border-radius;
	box-shadow: $dropshadow;
	z-index: $z-index-dropdown;

	&.is-open {
		display: block;
	}
}
