// # Objects: Grid and Layout
// -----------------------------------------------------------------------------

// ## 12 Column Grid Structure
// -----------------------------------------------------------------------------

.o-row {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: $wrapper-width;
	margin-left: auto;
	margin-right: auto;

	.o-row {
		width: auto;
		margin-left: -$gutter;
		margin-right: -$gutter;
	}
}

.o-row--no-gutters {
	.o-col {
		padding-left: 0;
		padding-right: 0;
	}
}

.o-col {
	width: 100%;
	padding-left: $gutter;
	padding-right: $gutter;
}



// ### Source Ordering
// -----------------------------------------------------------------------------

// No suffix on classes for < small breakpoint
.o-col--first {
	order: -1;
}

.o-col--last {
	order: 1;
}

@each $name, $size in $breakpoints {
	@include respond-to(#{$name}) {
		$suffix: "-#{$name}";
		.o-col--first#{$suffix} {
			order: -1;
		}

		.o-col--last#{$suffix} {
			order: 1;
		}
	}
}



// ## Block Grid
// -----------------------------------------------------------------------------

@mixin block-grid-loop($breakpoint: null) {
	@for $i from 1 through $total-block-grid-columns {
		.o-block-grid-#{$i}#{$breakpoint} {
			.o-block-grid__item {
				width: 100% / $i;
			}
		}
	}
}

.o-block-grid {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
}

.o-row .o-block-grid {
	margin-left: -$gutter;
	margin-right: -$gutter;
}

.o-block-grid__item {
	width: 100%;
	margin-bottom: $gutter * 2;
	padding-left: $gutter;
	padding-right: $gutter;
}

@include block-grid-loop();

@each $name, $size in $breakpoints {
	@include respond-to(#{$name}) {
		$suffix: "-#{$name}";
		@include block-grid-loop($suffix);
	}
}
