// # Objects: Containers
// -----------------------------------------------------------------------------

.o-container--xxs {
	width: 170px;
}

.o-container--xs {
	width: 250px;
}

.o-container--sm {
	width: 350px;
}

.o-container--md {
	max-width: 450px;
}

.o-container--lg {
	max-width: 600px;
}

.o-container--xl {
	max-width: 900px;
}

// Responsive conainer

.c-container--responsive {
	max-width: 100%;
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}



// ## Container Colors
// -----------------------------------------------------------------------------

.o-container--grey {
	background-color: $grey-faint;
	border: 1px solid $color-border--light;
	border-radius: $border-radius;

	code {
		background-color: transparent;
		border-radius: 0;
		border: 0;
		padding: 0;
	}
}



// ## Miscellaneous
// -----------------------------------------------------------------------------

// Scrollable container

.o-scrollable {
	overflow-y: scroll;
}

.o-scrollable--small {
	max-height: 265px;
}
