// # Objects: Containers
// -----------------------------------------------------------------------------

// Add classes for each of the $containers in `variables.scss`
// e.g. .o-container--xs, .o-container--lg

@each $name, $size in $containers {
	.o-container--#{$name} {
		width: #{$size};
	}
}



// ## Container Colors
// -----------------------------------------------------------------------------

.o-container--grey {
	background-color: $grey-faint;
	border: 1px solid $color-border--light;
	border-radius: $border-radius;

	code {
		background-color: transparent;
		border-radius: 0;
		border: 0;
		padding: 0;
	}
}



// ## Miscellaneous
// -----------------------------------------------------------------------------

// Scrollable container

.o-scrollable {
	overflow-y: scroll;
}

.o-scrollable--small {
	max-height: 265px;
}

// Responsive container
// Allows a container to scroll horizontal. Useful for tables of data.

.o-container--responsive {
	max-width: 100%;
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}
