// # Objects: Media
// -----------------------------------------------------------------------------

// Place any image- and text-like content side-by-side, as per:
// http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code

.o-media {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.o-media__img {
	flex-shrink: 0;
	margin-right: $global-spacing-unit;
}

.o-media__body {
	flex-grow: 1;

	&,
	> :last-child {
		margin-bottom: 0;
	}
}

// ## Size Variants
// -----------------------------------------------------------------------------

// Modify the amount of space between our image and our text. We also have
// reversible options for all available sizes.

.o-media--sm {
	> .o-media__img {
		margin-right: $global-spacing-unit-small;
	}

	&.o-media--reverse {
		> .o-media__img {
			margin-left: $global-spacing-unit-small;
		}
	}
}

.o-media--lg {
	> .o-media__img {
		margin-right: $global-spacing-unit-large;
	}

	&.o-media--reverse {
		> .o-media__img {
			margin-left: $global-spacing-unit-large;
		}
	}
}

// ## Reverse Media object
// -----------------------------------------------------------------------------

// Reversed image location (right instead of left).

.o-media--reverse {
	flex-direction: row-reverse;

	> .o-media__img {
		margin-right: 0;
		margin-left: $global-spacing-unit;
	}
}

// ## Gutterless Media objects
// -----------------------------------------------------------------------------

.o-media--flush {
	> .o-media__img {
		margin-right: 0;
		margin-left: 0;
	}
}
