// # Elements: Links
// -----------------------------------------------------------------------------

a {
	color: $color-link;
	text-decoration: underline;

	&:focus {
		@include focus-outline();
	}

	&:hover {
		text-decoration: none;
	}
}
