// # Elements: Typography
// -----------------------------------------------------------------------------

h1,
.c-h1 {
	font-size: $font-size-h1;
	font-weight: $font-weight-bold;
}

h2,
.c-h2 {
	font-size: $font-size-h2;
	font-weight: $font-weight-bold;
}

h3,
.c-h3 {
	font-size: $font-size-h3;
	font-weight: $font-weight-bold;
}

h4,
.c-h4 {
	font-size: $font-size-h4;
	font-weight: $font-weight-bold;
}

h5,
.c-h5 {
	font-size: $font-size-h5;
	font-weight: $font-weight-bold;
	text-transform: uppercase;
}

h6,
.c-h6 {
	font-size: $font-size-h6;
	font-weight: $font-weight-bold;
	text-transform: uppercase;
	letter-spacing: 0.025em;
}

p {}

strong, b {
	font-weight: $font-weight-bold;
}

em, i {
	font-style: italic;
}

blockquote {}

q {
	quotes: "\201c" "\201d" "\2018" "\2019";

	&:before {
		content: open-quote;
	}

	&:after {
		content: close-quote;
	}
}

cite {
	font-style: italic;
}

caption {
	font-style: italic;
}

kbd,
code,
var {
	color: #96268a;
	background-color: $grey-faint;
	font-family: $font-family-mono;
	font-size: $font-size-h5;
	border: 1px solid $color-border--light;
	border-radius: 2px;
	padding: 0.1em 0.25em;
}

kbd {
	border-bottom-width: 3px;
}

sub,
sup {
	vertical-align: baseline;
	font-size: 0.8125em;
	position: relative;
	top: -0.5em;
}

sub {
	top: 0.3em;
}

ins {
	text-decoration: underline;
}

del {
	text-decoration: line-through;
}

big {
	font-size: $font-size-h1;
}

small {
	font-size: $font-size-h6;
}

dfn {
	font-style: italic;
}

abbr {
	border-bottom: 1px dotted currentColor;
}

hr {
	border: solid $color-border--light;
	border-width: 1px 0 0;
	height: 0;
	margin-top: $global-spacing-unit-large;
	margin-bottom: $global-spacing-unit-large;
}



// ## Lists
// -----------------------------------------------------------------------------

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li ul,
li ol {
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}

// 1. Consistent indentation for lists

dd,
ol,
ul {
	margin-left: 1.3333rem; // [1]
}
